{% include "head/header.html" %}
<body>
    <div class="table">
        <h1 class="ms-4">INFORMACIÓ ALUMNAT TIC BARCELONA (aplicació centre)</h1>
        <table class="table table-striped w-75 ms-4">
            <tr>
                <th>ID</th>
                <th>NOM</th>
                <th>ROL</th>
            </tr>
                <tr>
                    <td>{{alum.id}}</td>
                    <td>{{alum.name}}</a></td>
                    <td>{{alum.rol}}</td>
                </tr>
        </table>
        <a href="/centre/students">
            <button class="btn btn-primary ms-4">Vés enrere</button>
        </a>    
    </div>
</body>