{% include "head/header.html" %}
<body>
    <div class="table">
        <h1 class="ms-4">INFORMACIÓ PROFESSORAT TIC BARCELONA</h1>
        <table class="table table-striped w-75 ms-4">
            <tr>
                <th>ID</th>
                <th>NOM</th>
                <th>COGNOM</th>
                <th>EDAT</th>
                <th>ROL</th>
                <th>CURS</th>
            </tr>
                <tr>
                    <td>{{profs.id}}</td>
                    <td>{{profs.name}}</a></td>
                    <td>{{profs.surname}}</td>
                    <td>{{profs.age}}</td>
                    <td>{{profs.rol}}</td>
                    <td>{{profs.course}}</td>
                </tr>
        </table>
        <a href="/centre/teachers">
            <button class="btn btn-primary ms-4">Vés enrere</button>
        </a>    
    </div>
</body>